

*{
    @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
}


/* navigation section */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items:center;
    max-width: 1440px;
    margin: 0 auto;

}
.navigation button{
    width: 180px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
}


/* banner-1 style start */ /* banner-1 style start */
.banner-1{
    max-width: 1440px;
    height: 652px;
    justify-content: center;
    margin: 0 auto;
    background-image: url('../assets/Hero-bg.png');
    background-position: center;
    background-size: cover;
}
.banner-1-image{
    width: 240.28px;
    height: 240px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 26px;
}
.banner-1 h1{
    width: 998px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    margin: 0 auto;
    margin-top: 32px;
}
.banner-1 p{
    width: 770px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin: 0 auto;
    margin-top: 24px
}
.banner-1-btn{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 80px 200px 24px 230px;
    
}
.btn-content{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
    width: 208px;
    height: 66px;
    cursor: pointer;
}


/* banner-2 style start  */ /* banner-2 style start  */

.banner-2{
    width: 1140px;
    height: 1395px;
    margin: 48px;
    margin: 0 auto;
    margin-top: 74px ;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.banner-2-container{
    height: 1300px;
    width: 1000px; 
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 0 auto;
    margin-top: 50px;
}

.b2-div1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0; 
    font-family: "Azeret Mono", monospace;
    margin-top: 5px;
    width: 852px;
    height: 120px;

}


 
/* b2 div2 start  */ /* b2 div2 start  */


.b2-div2{
    margin-top: 32px;
    width: 946px;
    height: 336px;
    display: flex;
    align-items: center;

}

.b2-div2-h3 h3{
    width: 390px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-family: "Azeret Mono", monospace;
    font-size: 24px;
    font-weight: 700;v

}

.b2-div2-h3 p{
    font-family: "Azeret Mono", monospace;
}
.b2-div2-h3 button{
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;

}

 
/* b2 div3 start  */ /* b2 div3 start  */


.b2-div3{
    margin-top: 32px;
    width: 946px;
    height: 336px; 
    display: flex;
    justify-content: center;
    align-items: center;

}

.b2-div3-h4{
    width: 70%;
}
.b2-div3-h4 h4{
    width: 477px;
    color: rgba(13, 19, 33, 0.7);
    font-family: "Azeret Mono", monospace;
    font-size: 24px;
    font-weight: 700;
}

.b2-div3-h4 p{
    width: 468px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.b2-div3-h4 button{
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;

}


/* .b2-div4 start  */ /* .b2-div4 start  */

.b2-div4{
    margin-top: 32px;
    width: 946px;
    height: 336px;

}

.b2-div4-h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.b2-div4-h3-des{
    width: 70% ;
}

.b2-div4-h3 h3{
    width: 390px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    
}
.b2-div4-h3 p{
    width: 468px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
}

.b2-div4-h3 button{
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;

}


/* banner-3 start here  */ /* banner-3 start here  */

.banner-3{
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-top: 80px;
}

.banner-3-content h2{
    width: 852px;
    display: flex;
    justify-content: center;
    padding-left: 150px;
    font-family: "Azeret Mono", monospace;
}
.banner-3 p{
    width: 870px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    font-family: "Azeret Mono", monospace;
    opacity: 0.7;

}
.banner-3-iframe{
    margin: 0 auto;
    margin-left: 30px;
    border-radius: 20px;
    margin-top: 48px;
}


/* banner-4 start from here  */  /* banner-4 start from here  */


.banner-4{
    
    width: 1200px;
    height: 460px;
    margin: 0 auto;
}

.banner-4-div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Azeret Mono", monospace;
}

.banner-4-div1 p{
    width: 852px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;

}

.banner-4-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    

}

.html{
    border-radius: 16px;
    width: 364px;
    height: 299px;
    background-color: rgba(255, 76, 30, 0.05);
    font-family: "Azeret Mono", monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 25px;
    
}

.css{
   border-radius: 16px;
    width: 364px;
    height: 299px;
    background-color: rgba(0, 76, 232, 0.05);
    font-family: "Azeret Mono", monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 25px;
}
.js{
    border-radius: 16px;
    width: 364px;
    height: 299px;
    background-color: rgba(255, 223, 0, 0.05);
    font-family: "Azeret Mono", monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 25px;

}
a{
    width: 284px;
    height: 19px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 700;

}

/* banner-5 start from here  */ /* banner-5 start from here  */


.banner-5{
    width: 1140px;
    height: 900px;
    margin: 0 auto;
    margin-top: 111px;
}

.banner-5-div1{
    width: 900px;
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 150px;
    margin: 0 auto;
    
}



.banner-5-div1 h1{
    width: 852px;
height: 37px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
color: rgb(13, 19, 33);
font-family: "Azeret Mono", monospace;
font-size: 32px;
font-weight: 800;

}

.banner-5-content{
    width: 1140px;
    height: 705px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 48px;
    justify-content: space-between;
}

.react{
    width: 1140px;
    height: 219px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);  
    background-color: rgb(15, 166, 226, 0.2);
    background-blend-mode: overlay;
    box-shadow: 5px 5px 5px;
}
.react-div1{
    width: 94.78px;
    height: 84.41px;
    margin-left: 40px;

}
.react-div2{
    width: 850px;
    height: 139px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    align-items: flex-start;

}

.react-div2 p{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;

}

.node{
    width: 1140px;
    height: 219px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255); 
    background-color: rgb(55, 223, 55, 0.2);
    background-blend-mode: overlay;
    box-shadow: 5px 5px 5px;
}

.node-div1{
    width: 143.3px;
    height: 55.19px;
    margin-left: 38px;
}

.node-div2{
    width: 850px;
    height: 139px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    align-items: flex-start;
}
.node-div2 p{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.mongo{
    width: 1140px;
    height: 219px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    background-color: rgb(149, 212, 22, 0.2);
    background-blend-mode: overlay;
    box-shadow: 5px 5px 5px;

}

.mongo-div1{
    width: 108px;
    height: 108px;
    margin-left: 40px;
}

.mongo-div2{
    width: 850px;
    height: 139px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    align-items: flex-start;
}

.mongo-div2 p{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

/* banner-6 stat from here  */ /* banner-6 stat from here  */


.banner-6{
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    margin-top: 49px;
    background-image: url('../assets/handshake.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;

}

.banner-6-container{
    width: 1044px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-top: 40px;
}

.banner-6-div-1{
    width: 730px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 150px;

}
.banner-6-div-1 h2{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 700;
    
}

.banner-6-div-1 p{
    color: rgb(255, 255, 255);
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.banner-6-btn{
    
    width: 684px;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 30px;


}

.banner-6-btn-content input{
    width: 548px;
height: 57px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
text-decoration: none;
}

.banner-6-btn button{
    width: 120px;
height: 58px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 8px;
background: rgb(255, 255, 255);
margin-left: 10px;
cursor: pointer;
color: rgb(13, 19, 33);
font-family: "Azeret Mono", monospace;
font-size: 20px;
font-weight: 600;
}


/* input  */

input::placeholder{
    padding: 20px;
}


/* footer section starts from here  */

.footer-container{
    max-width: 1440px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    margin-top: 79px;
    
}

.footer-content{
    width: 1140px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 135px;
}

.footer-content h3{
    width: 390px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}

.a{
    width: 157.01px;
height: 36px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
}